// flex
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// media queries
@mixin media-up($breakpoint, $value : 0) {
  @if $breakpoint == xs {
    @media only screen and (min-width: 450px) {
      @content;
    }
  }
  @if $breakpoint == sm {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media only screen and (min-width: 1400px) {
      @content;
    }
  }
  @if $breakpoint == huge {
    @media only screen and (min-width: 2000px) {
      @content;
    }
  }
  @if $breakpoint == custom {
    @media only screen and (min-width: $value + 0px) {
      @content;
    }
  }
}