.add-employee-button {
    cursor: pointer;
    margin-top: 20px;
    color: #ffffff;
    background: #5472d4;
    border: 2px solid #5472d4;
    padding: 0.65rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
    border-radius: 6px;
    font-weight: 600;

    &:hover {
        background: #4868d1;
        color: #ffffff;
        border-color: #4868d1;
    }
}